/*********************************************************
  Header
*********************************************************/

.header {
  display: none;
}

.header-fixed {
  display: block;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: rem(15);
  z-index: 30;
  @extend .page-body__header;
  @include media-breakpoint-up(md) {
    padding: rem(30);
  }
}

.header-fixed .header-fixed-wrap {
  background: $color__border;
  border-radius: $border-radius;
}

.header-fixed .profile__header {
  display: flex;
  align-items: center;
}

.header-fixed .profile__img {
  width: 105px;
  height: 105px;
  margin-right: rem(30);
  @include media-breakpoint-up(md) {
    width: 125px;
    height: 125px;
  }
}

.header-fixed .profile__header {
  padding: rem(15);
}

