/*********************************************************
  Popover
*********************************************************/

.popover {
  position: fixed;
  max-width: 100%;
  margin: 0 auto;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color__white;
  overflow-y: auto;
  visibility: hidden;
  transition: height 0.5s, visibility 0.4s;
  @include media-breakpoint-up(md) {
    max-width: 50%;
  }
}

.popover.in {
  height: 100%;
  visibility: visible;
}

.popover.out {
  height: 0;
  padding-bottom: 0;
}

.popover .form-body {
  padding-bottom: rem(200);
  @include media-breakpoint-up(md) {
    padding-bottom: 0;
  }
}