/*********************************************************
  Base
*********************************************************/

body {
  color: $color__text;
  font-size: $font-size;
  font-family: $font__body;
  overflow-x: hidden;
}

@include scrollbars(.3em, #999);

a {
  text-decoration: none;
  color: $color__primary;
  transition: 0.2s color ease-out;
  &:hover {
    color: $color__primary--dark;
  }
}

.page-body {
  position: relative;
}

.page-body__header {
  background-color: $color__primary;
  //@TODO: add background image
}

.page-body__content {
  min-height: 250px;
  margin-top: rem(-123);
  padding-top: rem(200);
  background-color: $color__white;
  @include media-breakpoint-up(md) {
    margin-top: rem(-143);
  }
}

.container {
  &--narrow {
    width: 88%;
  }
}