/*********************************************************
  Base
*********************************************************/

body {
  color: $color__text;
  font-size: $font-size;
  font-family: $font__body;
  overflow-x: hidden;
}

@include scrollbars(.5em, $color__secondary);

a {
  text-decoration: none;
  color: $color__primary;
  transition: 0.2s color ease-out;
  &:hover {
    color: $color__primary--dark;
  }
}

.page-body {
  position: relative;
}

.page-body__header {
  background-color: $color__primary;
  //background: $color__primary url('./assets/global/images/bg-icons.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.page-body__content {
  min-height: 500px; /* test only */
  margin-top: rem(-104);
  padding-top: rem(125);
  background-color: $color__white;
  @include media-breakpoint-up(md) {
    margin-top: rem(-111);
  }
}

.container {
  &--narrow {
    width: 88%;
  }
}