/*********************************************************
  Typography
*********************************************************/

h1,
.h1 {
  font-size: rem(28);
  @include media-breakpoint-up(md) {
    font-size: rem(36);
  }
}

h2,
.h2 {
  font-size: rem(26);
  @include media-breakpoint-up(md) {
    font-size: rem(32);
  }
}


p,
.p {
  font-size: rem(14);
  @include media-breakpoint-up(md) {
    font-size: rem(16);
  }
}