<div class="row align-items-center h-100">
  <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">

    <div class="card card-profile card-profile--has-img">
      <img class="card-img-top rounded-circle" src="//placeimg.com/150/150/people" alt="Suzette Cohen">
      <div class="card-body">
        <h2 class="card-title">Suzette Cohen</h2>
        <p class="card-text card-employee-number">Employee 336</p>
        <p class="card-text card-employee-years">18 years, 4 months</p>
        <h5 class="card-title card-employee-title card-title--bold">HR Manager</h5>
        <h6 class="card-title card-employee-position card-title--bold">Position 293</h6>
      </div><!-- /.card-body -->
    </div><!-- /.card.card-profile -->

  </div><!-- /.col -->
</div><!-- /.row -->