<div class="container">
<div class="row align-items-center h-100">
  <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">

    <div class="card card-profile card-profile--has-img">
      <img class="card-img-top rounded-circle" src="//placeimg.com/150/150/people" alt="Suzette Cohen">

      <div class="card-body">
        <h2 class="card-title">Suzette Cohen</h2>
        <p class="card-text card-employee-number">Employee 336</p>
        <p class="card-text card-employee-years">18 years, 4 months</p>
        <h5 class="card-title card-employee-title card-title--bold">HR Manager</h5>
        <h6 class="card-title card-employee-position card-title--bold">Position 293</h6>
      </div><!-- /.card-body -->

      <div class="card-nav card-nav--top">
        <div class="row align-items-center mx-0 h-100">
          <div class="col card-nav__col">
            <i class="card-nav__icon">icon</i>
            <div class="card-nav__title">Personal</div>
          </div><!-- /.col -->
          <div class="col card-nav__col">
            <i class="card-nav__icon">icon</i>
            <div class="card-nav__title">Work</div>
          </div><!-- /.col -->
          <div class="col card-nav__col">
            <i class="card-nav__icon">icon</i>
            <div class="card-nav__title">Call</div>
          </div><!-- /.col -->
          <div class="col card-nav__col">
            <i class="card-nav__icon">icon</i>
            <div class="card-nav__title">Call</div>
          </div><!-- /.col -->
          <div class="col card-nav__col">
            <i class="card-nav__icon">icon</i>
            <div class="card-nav__title">Call</div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.card-nav -->

      <div class="card-nav card-nav--bottom">
        <div class="row align-items-center mx-0 h-100">
          <div class="col-4 card-nav__col">
              <div class="btn-group bgn-group-lg card-nav__btns" role="group"><a href="" class="btn btn-transparent btn-block">Terminate</a></div>
          </div><!-- /.col -->
          <div class="col-8 card-nav__col">
            <div class="btn-group btn-group-lg card-nav__btns" role="group"><a href="" class="btn btn-transparent btn-block">Assign to Different Manager</a></div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.card-nav -->

    </div><!-- /.card.card-profile -->

  </div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container-->