<div class="card card-profile card-profile--has-img">
  <img class="card-img-top rounded-circle" src="//placeimg.com/150/150/people" alt="Suzette Cohen">

  <div class="card__body">
    <h2 class="card__title">Suzette Cohen</h2>
    <p class="card__text card__text--employee-number">Employee 336</p>
    <p class="card__text card__text--employee-years">18 years, 4 months</p>
    <h5 class="card__title card__title--employee-title card__title--bold">HR Manager</h5>
    <h6 class="card__title card__title--employee--position card__title--bold">Position 293</h6>
  </div><!-- /.card-body -->

  <div class="card-nav card-nav--scroller card-nav--top">
    <div class="row no-gutters">
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-block">
            <i class="card-nav__icon material-icons">phone</i>
            <div class="card-nav__title">Personal</div>
          </a>
        </div><!-- /.card-nav__btn -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-block">
            <i class="card-nav__icon material-icons">phone</i>
            <div class="card-nav__title">Work</div>
          </a>
        </div><!-- /.card-nav__btn -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-block">
            <i class="card-nav__icon material-icons">phone</i>
            <div class="card-nav__title">Call</div>
          </a>
        </div><!-- /.card-nav__btn -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-block">
            <i class="card-nav__icon material-icons">email</i>
            <div class="card-nav__title">Personal</div>
          </a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-block">
            <i class="card-nav__icon material-icons">email</i>
            <div class="card-nav__title">Work</div>
          </a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-block">
            <i class="card-nav__icon material-icons">email</i>
            <div class="card-nav__title">Work</div>
          </a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-block">
            <i class="card-nav__icon material-icons">email</i>
            <div class="card-nav__title">Work</div>
          </a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-block">
            <i class="card-nav__icon material-icons">email</i>
            <div class="card-nav__title">Work</div>
          </a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.card-nav--top -->

  <div class="card-nav card-nav--scroller card-nav--bottom">
    <div class="row no-gutters">
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn">Terminate</a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn">Assign to Different Manager</a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn btn-transparent btn-block">Another Option</a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
      <div class="card-nav__col">
        <div class="card-nav__btns">
          <a href="#" class="btn">And Another</a>
        </div><!-- /.card-nav__btns -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.card-nav--bottom -->

</div><!-- /.card.card-profile -->