/*********************************************************
  Profile
*********************************************************/

// Profile
$profile-img-width: 105px;

.profile {
  margin-top: rem(80);
  text-align: center;
  background-color: $color__border;
  border-radius: $border-radius;
  z-index: 2;
  @include media-breakpoint-up(md) {
    margin-top: rem(160);
  }
}

.profile--has-img {
  position: relative;
  padding-top: rem($profile-img-width - 60); // padding for img
}

.profile--has-img .profile__img {
  position: absolute;
  width: $profile-img-width;
  height: auto;
  top: calc(-0% - (#{$profile-img-width} / 2) );
  left: calc(50% - (#{$profile-img-width} / 2) );
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-up(md) {
    width: $profile-img-width + 25px;
    top: calc(-0% - (#{$profile-img-width + 25} / 2) );
    left: calc(50% - (#{$profile-img-width + 25} / 2) );
  }
}

.profile__header .card-image.is-featured {
  position: static;
}

.profile__header .card-image-icon {
  margin-top: -105px;
  margin-left: -60px;
  z-index: 99;
  @include media-breakpoint-up(md) {
    margin-top: -136px;
  }
  .header-fixed & {
    margin-top: 0;
    margin-left: 0;
  }
}

.profile__header {
  padding: rem(20);
}

.profile__title,
.profile__text {
  margin-bottom: rem(1);
}

.profile__title--bold {
  font-weight: bold;
}

.profile__title--employee-title {
  padding-top: rem(10);
}

.profile__text--employee-number {
  margin-bottom: rem(-2);
}

// Nav - Default
.nav {
  background-color: $color__secondary;
  color: $color__white;
}

.nav__col {
  min-width: 20%;
  padding: 0;
  border-right: 1px solid $color__border;
  &:last-child {
    border-right: none;
  }
}

.nav__icon {
  display: block;
  color: $color__primary;
}

.nav__title {
  color: $color__text;
}

.nav__btns {
  position: relative;
  z-index: 2;
  a {
    padding: rem(7) rem(5);
    font-size: rem(11);
    border-radius: 0;
    @include media-breakpoint-up(md) {
      font-size: rem(14);
    }
    &:hover, &:focus {
      background: $color__border;
      outline: none;
      box-shadow: none;
    }
  }
}

// Nav-Profile-Top
.nav-profile-top {
  background-color: $color__border--light;
  .nav__btns a {
    min-width: 20%;
  }
}


// Nav-Profile-Bottom
.nav-profile-bottom {}

.nav-profile-bottom,
.nav-profile-bottom > .row {
  background-color: $color__secondary;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.nav-profile-bottom .nav__btns {
  a {
    padding: rem(18);
    font-size: rem(13);
    color: $color__white;
    background: $color__secondary;
    border-radius: 0;
    @include media-breakpoint-up(md) {
      font-size: rem(14);
    }
  }
  a:hover, a:focus {
    background: $color__secondary--dark;
  }
}

.nav-profile-bottom .nav__col {
  border-color: lighten($color__secondary, 5%);
}

// Nav-scroller
// Allows to scroll/swipe through items, no wrapping
.nav-scroller > .row {
  width: auto;
  min-width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto; 
  //-webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar { display: none;}
}

.nav-scroller .nav__col {
  flex: 0 0 auto; //grow, shrink, basis
}

