
<div class="profile__header">
  <div class="card-image is-featured">
    <i class="card-image-icon icon material-icons">people_outline</i>
    <img class="profile__img rounded-circle" src="//placeimg.com/150/150/people">
  </div><!-- /.card-image -->
  <div class="profile__content">
    <h3 class="profile__title profile__title--bold">Suzette Cohen</h3>
    <p class="profile__text profile__text--employee-number">Employee 336</p>
    <p class="profile__text profile__text--employee-years">18 years, 4 months</p>
    <h5 class="profile__title profile__title--employee-title
      profile__title--bold">HR Manager</h5>
    <h6 class="card__title profile__title--employee--position
      profile__title--bold">Position 293</h6>
  </div><!-- /.profile__content -->
</div><!-- /.profile__header -->