/*********************************************************
  Form
*********************************************************/

form,
.form {
  width: 100%;
}

.form-pad {
  padding: rem(15);
}

.form label {
  font-weight: 700;
}

form .form-group,
.form .form-group {
  margin-bottom: rem(25);
}

form .form-control,
.form .form-control {
  border-radius: 0;
  background-color: $color__border--light;
  padding: rem(22) rem(15);
  &:focus {
    box-shadow: 0 0 0.1rem 0.2rem rgba($color__primary, 0.2);
    border: 1px solid $color__primary;
  }
}

form .form-button-group,
.form .form-button-group {
  display: flex;
  justify-content: center;
  margin: rem(45) auto rem(15);
  .btn {
  }
  .btn + .btn {
    margin-left: rem(20);
  }
}

.form-header {
  background-color: $color__border;
  color: $color__text;
  font-weight: 700;
  padding: rem(15) 0;
  text-align: center;
}

.form-header-secondary {
  background-color: $color__primary;
  color: $color__white;
}

.form-text {
  text-align: center;
  padding-top: rem(15);
  padding-bottom: rem(15);
}

/*********************************************************
  Checkboxes
  @NOTE - uses pretty checkboxes
  //lokesh-coder.github.io/pretty-checkbox/#radio
*********************************************************/

.pretty-size {
  font-size: 45px;
}

.pretty {
  display: block;
  margin-bottom: 15px;
}

.pretty span {
  font-size: rem(14);
  position: absolute;
  margin-top: rem(13);
  margin-left: rem(16);
  @include media-breakpoint-up(md) {
    font-size: rem(16);
  }
}

.pretty input:checked ~ .state.p-success-o .icon {
  color: $color__success;
  stroke: $color__success;
}

.pretty input:checked ~ .state.p-primary label:after, .pretty.p-toggle .state.p-primary label:after {
  background-color: $color__success !important;
}

.pretty.p-icon input:checked ~ .state label:before {
  border-color: #cfd3d6;
}
