<form class="form form-contacts">

  <div class="form-group">
    <label for="form-contacts-name">Contact Name</label>
    <input type="text" id="form-contacts-name" class="form-control"
      placeholder="Jane Smith">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-contacts-relationship">Relationship</label>
    <input type="text" id="form-contacts-relationship" class="form-control"
      placeholder="">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-contacts-phone-home">Home Phone</label>
    <input type="tel" id="form-contacts-phone-home" class="form-control"
      placeholder="813-555-5555">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-contacts-phone-home-ext">Extension</label>
    <input type="number" id="form-contacts-phone-home-ext" class="form-control"
      placeholder="">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-contacts-phone-home">Work Phone</label>
    <input type="tel" id="form-contacts-phone-work" class="form-control"
      placeholder="813-555-5555">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-contacts-phone-work-ext">Extension</label>
    <input type="number" id="form-contacts-phone-work-ext" class="form-control"
      placeholder="">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-contacts-phone-mobile">Mobile Phone</label>
    <input type="tel" id="form-contacts-phone-mobile" class="form-control"
      placeholder="813-555-5555">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-country">Country</label>
    <input type="text" id="form-country" class="form-control" placeholder="">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-street-1">Street 1</label>
    <input type="text" id="form-street-1" class="form-control" placeholder="">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-street-2">Street 2</label>
    <input type="text" id="form-street-2" class="form-control" placeholder="">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-city">City</label>
    <input type="text" id="form-city" class="form-control" placeholder="">
  </div><!-- /.form-group -->

  <div class="form-group">
    <label for="form-zip">Zip</label>
    <input type="number" id="form-zip" class="form-control" placeholder="33602">
  </div><!-- /.form-group -->

  <div class="form-button-group">
    <button type="submit" class="btn btn-muted rounded">Cancel</button>
    <button type="submit" class="btn btn-primary rounded">Update</button>
  </div><!-- /.form-button-group -->

</form><!-- /.form.form-contacts -->