<form class="form form-time form-pad">
  <div class="form-group">
    <div class="popover popover-form-time">
      <div class="form-header">More Time</div>
      <div class="form-body">
        <div class="form-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Totam cum repudiandae accusantium harum, qui
            sequi magnam? Suscipit dolores incidunt illo natus
            dignissimos, quas ipsam itaque eum sed eos rerum
            temporibus.</p>
        </div><!-- /.form-text -->


        <div class="pretty-size">

          <div class="pretty p-icon p-round">
            <input type="radio" name="icon" />
            <div class="state p-success-o">
              <i class="icon material-icons">done</i>
              <label></label>
              <span>1 day (October 2, 2018)</span>
            </div>
          </div>

          <div class="pretty p-icon p-round">
            <input type="radio" name="icon" />
            <div class="state p-success-o">
              <i class="icon material-icons">done</i>
              <label></label>
              <span>4 days (October 5, 2018)</span>
            </div>
          </div>

          <div class="pretty p-icon p-round">
            <input type="radio" name="icon" />
            <div class="state p-success-o">
              <i class="icon material-icons">done</i>
              <label></label>
              <span>1 week (October 8, 2018)</span>
            </div>
          </div>

          <div class="pretty p-icon p-round">
            <input type="radio" name="icon" />
            <div class="state p-success-o">
              <i class="icon material-icons">done</i>
              <label></label>
              <span>2 weeks (October 15, 2018)</span>
            </div>
          </div>

        </div><!-- /.pretty-size -->



      </div><!-- /.popover -->
      <label for="form-comments">Comments</label>
      <textarea class="form-control" id="form-comments"
        rows="2"></textarea>
      <div class="form-button-group">
        <button type="submit" class="btn btn-muted rounded">Cancel</button>
        <button type="submit" class="btn btn-primary rounded">Update</button>
      </div><!-- /.form-button-group -->
    </div><!-- /.form-body -->
  </div><!-- /.form-group -->
</form><!-- /.form -->