<div class="profile profile--has-img">

  <include src="components/profile/profile-header.html"></include>

  <div class="nav nav-profile-top nav-scroller">
    <div class="row no-gutters">
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">
            <i class="nav__icon material-icons">phone</i>
            <div class="nav__title">Personal</div>
          </a>
        </div><!-- /.nav__btn -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">
            <i class="nav__icon material-icons">phone</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btn -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">
            <i class="nav__icon material-icons">phone</i>
            <div class="nav__title">Call</div>
          </a>
        </div><!-- /.nav__btn -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Personal</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.nav-profile-top -->

  <div class="nav nav-profile-bottom nav-scroller">
    <div class="row no-gutters">
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">Terminate</a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">Assign to Different Manager</a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">Another Option</a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#"
             class="btn btn-block">And Another</a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.nav-profile-bottom -->

</div><!-- /.-profile -->