<div class="profile profile--has-img">

  <img class="rounded-circle" src="//placeimg.com/150/150/people" alt="Suzette Cohen">

  <div class="profile__body">
    <h2 class="profile__title profile__title--bold">Suzette Cohen</h2>
    <p class="profile__text profile__text--employee-number">Employee 336</p>
    <p class="profile__text profile__text--employee-years">18 years, 4 months</p>
    <h5 class="profile__title profile__title--employee-title profile__title--bold">HR Manager</h5>
    <h6 class="card__title profile__title--employee--position profile__title--bold">Position 293</h6>
  </div><!-- /.profile__body -->

  <div class="nav nav-profile-top nav-scroller">
    <div class="row no-gutters">
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">
            <i class="nav__icon material-icons">phone</i>
            <div class="nav__title">Personal</div>
          </a>
        </div><!-- /.nav__btn -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">
            <i class="nav__icon material-icons">phone</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btn -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">
            <i class="nav__icon material-icons">phone</i>
            <div class="nav__title">Call</div>
          </a>
        </div><!-- /.nav__btn -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Personal</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">
            <i class="nav__icon material-icons">email</i>
            <div class="nav__title">Work</div>
          </a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.nav-profile-top -->

  <div class="nav nav-profile-bottom nav-scroller">
    <div class="row no-gutters">
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">Terminate</a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">Assign to Different Manager</a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">Another Option</a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
      <div class="nav__col">
        <div class="nav__btns">
          <a href="#" class="btn btn-block">And Another</a>
        </div><!-- /.nav__btns -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.nav-profile-bottom -->

</div><!-- /.-profile -->