/*********************************************************
  Base
*********************************************************/

body {
  color: $color__text;
  font-size: $font-size;
  font-family: $font__body;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $color__primary;
  transition: 0.2s color ease-out;
  &:hover {
    color: $color__primary--dark;
  }
}

hr {
  border-width: 2px;
  max-width: rem(15);
  margin: 0;
  margin-top: rem(3.5);
  margin-bottom: rem(3.5);
  border-width: 2px;
  border-color: $color__border--dark;
}

.page-body {
  position: relative;
}

.page-body__header {
  background-color: $color__primary;
  background-image: url("./img/bg-icons.png");
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
  @include media-breakpoint-up(md) {
    background-size: auto;
  }
}

.page-body__content {
  width: 100%;
  min-height: 500px; /* test for scrolling only */
  margin-top: rem(-109);
  padding-top: rem(135);
  padding-bottom: rem(65);
  background-color: $color__white;
  @include media-breakpoint-up(md) {
    margin-top: rem(-116);
  }
}

.page-body-org .page-body__content {
  background: $color__grey;
  margin-top: rem(-6);
  @include media-breakpoint-up(md) {
    margin-top: rem(12);
  }
}

.container {
  &--narrow {
    width: 88%;
  }
}
