/*********************************************************
  Card Global
*********************************************************/

.card {
  position: relative;
  padding: rem(15) rem(30);
}

.card + .card {
  border-top: 2px solid $color__border--light;
}

.card .card-header a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.card-image.is-featured {
  position: relative;
  i,
  .icon {
    position: absolute;
    padding: rem(3);
    font-size: rem(18);
    background: $color__primary;
    color: $color__white;
    border-radius: 100%;
    @include media-breakpoint-up(sm) {
      padding: rem(5);
      font-size: rem(24);
    }
  }
}

.card .card-inner-body .card-inner-title,
.card .card-inner-body .card-inner-subtitle {
  margin-bottom: rem(2);
  font-weight: bold;
  color: $color__text;
}

.card .card-inner-body hr {
  max-width: rem(15);
  margin: 0;
  margin-top: rem(3.5);
  margin-bottom: rem(3.5);
  border-width: 2px;
  border-color: $color__border--dark;
}

.card-inner-footer {
  display: flex;
  justify-content: space-between;
  padding-top: rem(30);
}

.card .card-inner-text {
  font-size: rem(13);
  color: $color__grey;
  @include media-breakpoint-up(sm) {
    font-size: rem(14);
  }
}

.card .card-inner-text-muted {
  color: $color__muted;
}

/*********************************************************
  Card Body - Details
  An accordion card's expanded content of Dates/Assignments
*********************************************************/

.card-body-details {
  background-color: $color__white;
  width: 100%;
  height: auto;
  margin-top: rem(-6.5);
  font-size: rem(14);
  @include media-breakpoint-up(sm) {
    font-size: rem(15);
  }
}

.card-body-details-assignments {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  .card-body-details-data {
    &:last-child() {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

.card-body-details-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(15) rem(10) rem(15) rem(20); //account for border-left from card
  background-color: $color__border--light;
  &:nth-child(even) {
    background-color: $color__white;
  }
}

.card-body-details-dates .card-body-details-data {
  padding: rem(15) rem(30);
}

.card-body-details-key {
  font-weight: 700;
}

.card-body-details-value {
}

/*********************************************************
  Card Body - Contacts
  An accordion card's expanded of Contacts
*********************************************************/

.card-contacts {
}

.card-contacts .card-body {
  display: flex;
  justify-content: center;
}

.card-contacts .card-body-details {
  padding: 0;
  cursor: pointer;
}

.card-contacts .card-body-details-data {
  display: block;
  position: relative;
  padding: rem(20);
  background-color: $color__border;
  &:nth-child(even) {
    background-color: $color__border--light;
  }
}

.card-contacts .card-body-details-value {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.card-contacts .card-body-details-icon {
  height: 100%;
  padding: rem(20);
  color: $color__primary !important;
  border-left: 2px solid $color__border--dark;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: $color__border--dark;
    color: $color__primary--dark;
  }
}

.card-contacts .card-body-inner {
  padding: rem(20);
  background-color: $color__border--dark;
}

.card-contacts .card-body-inner-item {
  display: flex;
  padding: rem(15) 0;
  + .card-body-inner-item {
    border-top: 1px solid $color__border;
  }
}

.card-contacts .card-body-inner-icon {
  color: $color__primary;
}

.card-contacts .card-body-inner-text {
  padding-left: rem(10);
}

/*********************************************************
  Card Body - Contacts-Edit
  An accordion card's expanded of Contact Edit Mode
*********************************************************/

.card-body-contacts-edit {
  background-color: $color__white !important;
  @include media-breakpoint-up(sm) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*********************************************************
  Org Card
*********************************************************/

.org-card {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  background-color: $color__white;
  margin: rem(15) 0;
  @include media-breakpoint-up(md) {
    border-radius: $border-radius;
  }
}

$card-img-width: 75px;

.org-card .card-header {
  position: absolute;
  left: calc(0% - (#{$card-img-width} / 2));
  @include media-breakpoint-up(md) {
    left: calc(0% - (#{$card-img-width + 25} / 2));
  }
}

.org-card .profile__img {
  width: $card-img-width;
  height: $card-img-width;
  border: 3.5px solid $color__white;
  @include media-breakpoint-up(md) {
    width: 105px;
    height: 105px;
  }
}

.org-card .card-inner-body {
  padding-left: rem(30);
  font-weight: 300;
  @include media-breakpoint-up(md) {
    padding-left: rem(45);
  }
}

.org-card .card-inner-title {
  font-size: rem(18);
}

.org-card .card-inner-subtitle {
  font-weight: 300 !important;
}

.org-card .card-inner-subtitle {
  font-size: rem(15);
}

.org-card .profile__content {
  width: 100%;
}

.org-card .card-inner-footer {
  padding-top: 0;
}


/*********************************************************
  Group-Swiper Card
  The card within group swiper area
*********************************************************/

.group-swiper {
  background-color: $color__grey;
  padding-top: rem(15);
  padding-bottom: rem(15);
}

.group-swiper .pagination-dots {
  padding-top: rem(30);
  padding-bottom: rem(15);
}

.group-swiper-card {
  position: relative;
  border-radius: $border-radius;
  background-color: $color__white;
  margin: 0;
  padding: 0;
}

.group-swiper-card .card-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color__border;
}

.group-swiper-card .card-header .profile__img {
  width: $card-img-width;
  height: auto;
}

.group-swiper-card .card-header,
.group-swiper-card .card-body {
  padding: rem(15);
}

.group-swiper-card .card-header-title {
  padding-left: rem(30);
  font-weight: 300;
  @include media-breakpoint-up(md) {
    padding-left: rem(45);
  }
}

.group-swiper-card .card-inner-subtitle {
  margin-bottom: rem(1);
}

.group-swiper-card .card-inner-title {
  font-weight: 700;
  margin-bottom: 0;
}

.group-swiper-card .card-body {
  padding-left: rem(30);
  padding-right: rem(30);
  @include media-breakpoint-up(md) {
    padding-left: rem(45);
    padding-right: rem(45);
  }
}