<div class="card-list">

  <div class="card org-card">
    <div class="card-header">
      <div class="card-image">
        <img class="profile__img rounded-circle"
          src="//placeimg.com/150/150/people" alt="Suzette Cohen">
      </div><!-- /card-image -->
    </div><!-- /.card-header -->
    <div class="card-inner-body">
      <h4 class="card-inner-title">Brad Brockmeier</h4>
      <h5 class="card-inner-subtitle">HR Manager</h5>
      <h5 class="card-inner-subtitle">Position 293</h5>
      <hr>
      <div class="card-inner-hours card-inner-text">11 years</div>
    </div><!-- /.card-inner-body -->
  </div><!-- /.card -->

  <div class="card org-card">
    <div class="card-header">
      <div class="card-image is-featured">
        <i class="card-image-icon icon material-icons">
          people_outline
        </i>
        <img class="profile__img rounded-circle"
          src="//placeimg.com/150/150/people" alt="Suzette Cohen">
      </div><!-- /card-image -->
    </div><!-- /.card-header -->
    <div class="card-inner-body">
      <h4 class="card-inner-title">Brad Brockmeier</h4>
      <h4 class="card-inner-subtitle">HR Manager</h4>
      <h5 class="card-inner-subtitle">Position 293</h5>
      <hr>
      <div class="card-inner-hours card-inner-text">11 years</div>
    </div><!-- /.card-inner-body -->
  </div><!-- /.card -->

  <div class="card org-card">
    <div class="card-header">
      <div class="card-image">
        <img class="profile__img rounded-circle"
          src="//placeimg.com/150/150/people" alt="Suzette Cohen">
      </div><!-- /card-image -->
    </div><!-- /.card-header -->
    <div class="card-inner-body">
      <h4 class="card-inner-title">Brad Brockmeier</h4>
      <h4 class="card-inner-subtitle">HR Manager</h4>
      <h5 class="card-inner-subtitle">Position 293</h5>
      <hr>
      <div class="card-inner-hours card-inner-text">11 years</div>
    </div><!-- /.card-inner-body -->
  </div><!-- /.card -->

  <div class="card org-card">
    <div class="card-header">
      <div class="card-image">
        <img class="profile__img rounded-circle"
          src="//placeimg.com/150/150/people" alt="Suzette Cohen">
      </div><!-- /card-image -->
    </div><!-- /.card-header -->
    <div class="card-inner-body">
      <h4 class="card-inner-title">Brad Brockmeier</h4>
      <h4 class="card-inner-subtitle">HR Manager</h4>
      <h5 class="card-inner-subtitle">Position 293</h5>
      <hr>
      <div class="card-inner-hours card-inner-text">11 years</div>
    </div><!-- /.card-inner-body -->
  </div><!-- /.card -->

</div><!-- /.card-list -->