<!-- GROUP SWIPER CARD -->
<div class="card group-swiper-card">
  <div class="card-header">
    <div class="card-image">
      <img class="profile__img rounded-circle"
        src="//placeimg.com/150/150/people" alt="">
    </div><!-- /card-image -->
    <div class="card-header-title">
      <h6 class="card-inner-subtitle">Request for</h6>
      <h5 class="card-inner-title">Brad Brockmeier</h5>
    </div><!-- /.card-header-title -->
  </div><!-- /.card-header -->
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Repellat iste voluptate alias dignissimos impedit omnis
      dolore
      Fuga debitis ut natus expedita adipisci facilis modi et
      consequatur! Similique ratione ipsam possimus</p>
  </div><!-- /.card-body -->
</div><!-- /.card.group-swiper-card -->
<!-- /GROUP SWIPER CARD-->