/*********************************************************
  Controls
*********************************************************/

.group-controls .fixed-bottom {
  bottom: 66px;
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: rem(15);
  background-color: $color__white;
  border-top: 1px solid $color__border;
}

.control {
  margin: auto rem(10);
}

.control a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  min-width: auto;
  background: $color__tertiary;
  border-radius: 100%;
}

.control i {
  color: $color__white;
  font-size: 40px;
}