<div class="controls">
  <div class="control">
    <a href="#" class="btn u-bg-tertiary"><i class="material-icons">compare_arrows</i></a>
  </div><!-- /.control -->
  <div class="control">
    <a href="#" class="btn u-bg-tertiary"><i class="material-icons">access_time</i></a>
  </div><!-- /.control -->
  <div class="control">
    <a href="#" class="btn u-bg-error"><i class="material-icons">close</i></a>
  </div><!-- /.control -->
  <div class="control">
    <a href="#" class="btn u-bg-success"><i class="material-icons">check</i></a>
  </div><!-- /.control -->
</div><!-- /.controls -->