/*********************************************************
  Modal
*********************************************************/
@import "~bootstrap/scss/modal";

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-content {
  border: none;
  padding: 0;
  text-align: center;
}

.modal-header {
  border-bottom: 2px solid $color__border;
  .modal-title {
    margin: 0 auto;
    text-align: center;
  }
}

.modal-body,
.modal-footer {
  padding: rem(30);
}

.modal-body .form {
  text-align: left;
}

.modal-body {
  .modal-with-header & {
    display: block;
    padding-bottom: 0;
  }
}

.modal-footer {
  padding-top: 0;
  justify-content: center;
  border: none;
}

.modal-footer > :not(:last-child) {
  margin-right: rem(15);
}

.modal-footer {
  .modal-with-header & {
    display: block;
    .btn {
      margin-left: 0;
      margin-top: rem(15);
    }
  }
}
