/*********************************************************
  Header
*********************************************************/

.header {
  display: none;
}

.header-fixed {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  padding: rem(15);
  z-index: 30;
  animation: slideInDown 0.3s forwards;
  @extend .page-body__header;
}

.header-fixed .header-fixed-wrap {
  background: $color__border;
  border-radius: $border-radius;
}

.header-fixed .profile__header {
  display: flex;
  align-items: center;
}

.header-fixed .profile__img {
  width: 75px;
  height: 75px;
  margin-right: rem(30);
  @include media-breakpoint-up(md) {
    width: 105px;
    height: 105px;
  }
}

.header-fixed .profile__img,
.header-fixed .profile__content {
  opacity: 0;
  animation: slideInUp 0.3s 0.05s forwards;
}

.header-fixed .profile__header {
  padding: rem(5) rem(15);
}

.header-fixed .profile__title,
.header-fixed .profile__text--employee-number {
  margin-bottom: rem(-2);
  padding-top: 0;
}

.header-fixed .profile__text--employee-years {
  margin-bottom: rem(2);
}

.page-body__header .profile {
  transition: transform 0.3s linear;
  &.push-up {
    transform: translateY(-40px);
    margin-bottom: -40px;
  }
}

// Header Org

.header-org {
}

.header-org .card {
  background-color: $color__white;
  border-radius: $border-radius;
}

.header-org .page-body__content {
  margin-top: rem(75);
}

.header-org .profile__content {
  width: 100%;
}

.header-org .card-inner-footer {
  padding-top: 0;
}

// Fixed header animations
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
}
