<div class="header-org header-fixed">
  <div class="header-fixed-wrap">

    <div class="card profile__header">
      <img class="profile__img rounded-circle"
        src="//placeimg.com/150/150/people" alt="Suzette Cohen">
      <div class="profile__content">
        <h3 class="profile__title profile__title--bold">Suzette Cohen</h3>
        <h5 class="profile__title profile__title--employee-title
          profile__title--bold">HR Manager</h5>
        <h6 class="card__title profile__title--employee--position
          profile__title--bold">Position 293</h6>
        <hr>
        <div class="card-inner-footer">
          <div class="card-inner-years card-inner-text">11 years</div>
          <div class="card-inner-position card-inner-text
            card-inner-text-muted">Bachelor's</div>
        </div><!-- /.card-inner-footer -->
      </div><!-- /.profile__content -->
    </div><!-- /.profile__header -->

  </div><!-- /.header-fixed-wrap -->
</div><!-- /.heade-.org -->