/*********************************************************
  Footer / Nav Footer
*********************************************************/

.nav-footer {
	background-color: $color__secondary;
	color: $color__white;
}

.nav-footer,
.nav-footer > .row {
  border-radius: 0;
}

.nav-footer .nav__col {
  min-width: 16.666666%;
  border-color: $color__border--secondary;
}

.nav-footer .nav__btns {
  a {
    padding: rem(18) 0 rem(13);
    color: $color__white;
    border-radius: 0;
    @include media-breakpoint-up(md) {
      font-size: rem(14);
    }
  }
  a:hover, a:focus {
    background: $color__secondary--dark;
  }
}