<div class="card-nav card-nav-footer card-nav--scroller card-nav--bottom fixed-bottom">
	<div class="row no-gutters">
		<div class="card-nav__col">
			<div class="card-nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">home</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="card-nav__col">
			<div class="card-nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">people</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="card-nav__col">
			<div class="card-nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">search</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="card-nav__col">
			<div class="card-nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">alarm</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="card-nav__col">
			<div class="card-nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">settings</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="card-nav__col">
			<div class="card-nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">menu</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.card-nav--bottom -->