.accordion {}

.accordion .card {
  position: relative;
  background-color: $color__white;
  border: 0;
  border-radius: 0;
}

.accordion .card .card-header a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.accordion .card .card-title {
  margin: 0;
  padding-bottom: rem(30);
  color: $color__text;
  font-weight: 300;
}

.accordion .card .card-icon {
  margin-right: rem(-5);
  margin-top: rem(-5);
  font-size: rem(40);
  color: $color__primary;
}

.accordion .card .card-header,
.accordion .card .card-body {
  padding: 0 rem(30);
  @include media-breakpoint-up(sm) {
    padding: inherit;
  }
}

.accordion .card .card-body {
  background-color: $color__border;
  padding: rem(30);
}