<div class="accordion" id="accordion">

  <div class="card mb-2">
    <div class="card-header" id="accordion-heading-1">
      <a class="collapsed" href="#accordion-1" data-toggle="collapse" data-target="#accordion-1" aria-expanded="false"
        aria-controls="accordion-1">
        <h5 class="card-title">Assignments<i class="card-icon material-icons float-right">keyboard_arrow_down</i></h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-1" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="card-inner card-inner-active">
          <div class="card-inner-body">
            <h5 class="card-inner-title">Card title</h5>
            <h6 class="card-inner-subtitle">Card subtitle</h6>
            <hr>
            <div class="card-inner-footer">
              <div class="card-inner-footer-years text-muted">16 years, 6 months</div>
              <div class="card-inner-footer-position text-muted">Primary Position</div>
            </div><!-- /.card-inner-footer -->
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->
      </div><!-- /.card-body -->
    </div><!-- /.collapse -->
  </div><!-- /.card -->


  <div class="card mb-2">
    <div class="card-header" id="accordion-heading-3">
      <a class="collapsed" href="#accordion2" data-toggle="collapse" data-target="#accordion-3" aria-expanded="false"
        aria-controls="accordion-3">
        <h5 class="card-title">Assignments<i class="card-icon material-icons float-right">keyboard_arrow_down</i></h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-3" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum voluptas necessitatibus maiores expedita,
          vel non iusto voluptatem reiciendis libero consequatur. Impedit quidem, architecto quis sit molestias nisi
          accusantium voluptas velit!</p>
      </div><!-- /.card-body -->
    </div><!-- /.collapse -->
  </div><!-- /.card -->

  <div class="card mb-2">
    <div class="card-header" id="accordion-heading-2">
      <a class="collapsed" href="#accordion2" data-toggle="collapse" data-target="#accordion-2" aria-expanded="false"
        aria-controls="accordion-2">
        <h5 class="card-title">Assignments<i class="card-icon material-icons float-right">keyboard_arrow_down</i></h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-2" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum voluptas necessitatibus maiores expedita,
          vel non iusto voluptatem reiciendis libero consequatur. Impedit quidem, architecto quis sit molestias nisi
          accusantium voluptas velit!</p>
      </div><!-- /.card-body -->
    </div><!-- /.collapse -->
  </div><!-- /.card -->


</div><!-- /.accordion -->