/*********************************************************
  Footer / Nav Footer
*********************************************************/

.nav-footer {
  background-color: $color__secondary;
  color: $color__white;
  z-index: 9999999;
}

.nav-footer,
.nav-footer > .row {
  border-radius: 0;
}

.nav-footer .nav__col {
  min-width: 16.666666%;
  border-color: $color__border--secondary;
}

.nav-footer .nav__btns {
  a {
    min-width: auto;
    padding: rem(22) 0 rem(16);
    color: $color__white;
    border-radius: 0;
    @include media-breakpoint-up(md) {
      font-size: rem(14);
    }
  }
  a:hover,
  a:focus {
    background: $color__secondary--dark;
  }
}
