<div class="nav nav-footer nav-scroller fixed-bottom">
	<div class="row no-gutters">
		<div class="nav__col">
			<div class="nav__btns">
				<a href="./index.html" class="btn btn-block"><i class="material-icons">home</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="nav__col">
			<div class="nav__btns">
				<a href="./org.html" class="btn btn-block"><i class="material-icons">people</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="nav__col">
			<div class="nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">search</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="nav__col">
			<div class="nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">alarm</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="nav__col">
			<div class="nav__btns">
				<a href="#" class="btn btn-block"><i class="material-icons">settings</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
		<div class="nav__col">
			<div class="nav__btns">
				<a id="js-sidebar-toggle" class="btn btn-block"><i class="material-icons">menu</i></a>
			</div><!-- /.card-nav__btns -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.card-nav--bottom -->