/*********************************************************
  Variables
*********************************************************/

// colors
$orange:  #ea8c2a;
$navy: #1a2940;
$blue: #bfe0f7;
$white:#fff;
$grey: #ccc;
$black: #111;
$green: green;
$red: #790000;

// color brands
$color__primary: $orange;
$color__secondary: $navy;
$color__tertiary: $blue;
$color__muted: $grey;
$color__white: $white;
$color__text: $black;

// color darkens
$color__primary--dark: darken($color__primary, 15%);
$color__secondary--dark: darken($color__secondary, 15%);

// color utilites
$color__error: $red;
$color__success: $green;

// color borders
$color__border: $grey;

// fonts
$font__body: "Open Sans", sans-serif;
$font__heading: "Open Sans", sans-serif;
$font-size: 1rem;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;