<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Datis e3</title>
  </head>

  <body>

    <include src="components/sidebar/sidebar.html"></include>

    <div class="page-body page-body-group">
      <div class="page-body__content">
        <div class="group-swiper">
          <div class="container">
            <div class="card group-swiper-card">
              <div class="card-header">
                <div class="card-image">
                  <img class="profile__img rounded-circle"
                    src="//placeimg.com/150/150/people" alt="Suzette Cohen">
                </div><!-- /card-image -->
                <div class="card-header-title">
                  <h6 class="card-inner-subtitle">Request for</h6>
                  <h5 class="card-inner-title">Brad Brockmeier</h5>
                </div><!-- /.card-header-title -->
              </div><!-- /.card-header -->
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Repellat iste voluptate alias dignissimos impedit omnis dolore
                  Fuga debitis ut natus expedita adipisci facilis modi et
                  consequatur! Similique ratione ipsam possimus</p>
              </div><!-- /.card-body -->
            </div><!-- /.group-swiper-card -->
          </div><!-- /.container -->
        </div><!-- /.group-swiper -->
        <div class="page-body__footer">
          <div class="row mx-auto">
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto u-sm-p-0">
              <include src="components/footer/footer.html"></include>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.page-body__footer -->
      </div><!-- /.page-body__content -->
    </div><!-- /.page-body -->

  </body>

</html>