<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Datis e3</title>
  </head>

  <body>

    <include src="components/sidebar/sidebar.html"></include>

    <div class="page-body page-body-group">
      <div class="page-body__content">
        <div class="group-swiper">
          <div class="container">
            <div class="col-md-6 col-11 mx-auto px-0">
              <!-- GROUP SWIPER PAGINATION -->
              <div class="pagination-dots">
                <span class="pagination-dot pagination-dot-active"></span>
                <span class="pagination-dot"></span>
                <span class="pagination-dot"></span>
              </div>
              <!-- /GROUP SWIPER PAGINATION -->
              <include src="components/card/card-group-swiper.html"></include>
            </div><!-- /.col -->
          </div><!-- /.container -->
        </div><!-- /.group-swiper -->

        <div class="scroll-y">

          <div class="group-details">
            <div class="row mx-auto">
              <div class="col-md-6 col-10 mx-auto px-0">
                <div class="group-details-card">
                  <div class="card-body">
                    <div class="card-status">
                      <span class="active"></span>
                    </div><!-- /.card-status -->
                    <div class="card-inner">
                      <div class="card-inner-body">
                        <h6 class="card-inner-title">Status: <span>Approved on
                            12:00pm,
                            Tuesday, March 28, 2018</span></h6>
                        <h6 class="card-inner-title">Assigned to: <span>Lucas
                            Gains</span></h6>
                        <div class="card-inner-text">Lorem ipsum dolor sit amet
                          consectetur
                          adipisicing elit. Vero deserunt fuga temporibus esse
                          quidem</div>
                        <div class="card-inner-text card-inner-icons">
                          <i class="material-icons">description</i>
                          <i class="material-icons">description</i>
                          <i class="material-icons">description</i>
                        </div><!-- /.card-inner-icons -->
                      </div><!-- /.card-inner-body -->
                    </div><!-- /.card-inner -->
                  </div><!-- /.card-body -->
                </div><!-- /.group-details-card -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.group-details -->

          <div class="group-comments">
            <div class="row mx-auto">
              <div class="col-md-6 col-10 mx-auto px-0">
                <form class="form form-time">
                  <div class="form-group">
                    <div class="popover popover-form-time">
                      <div class="form-header">More Time</div>
                      <div class="form-body">
                        <div class="form-text">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Totam cum repudiandae accusantium harum, qui
                            sequi magnam? Suscipit dolores incidunt illo natus
                            dignissimos, quas ipsam itaque eum sed eos rerum
                            temporibus.</p>
                        </div><!-- /.form-text -->


                        <div class="pretty-size">

                          <div class="pretty p-icon p-round">
                            <input type="radio" name="icon" />
                            <div class="state p-success-o">
                              <i class="icon material-icons">done</i>
                              <label></label>
                              <span>1 day (October 2, 2018)</span>
                            </div>
                          </div>

                          <div class="pretty p-icon p-round">
                            <input type="radio" name="icon" />
                            <div class="state p-success-o">
                              <i class="icon material-icons">done</i>
                              <label></label>
                              <span>4 days (October 5, 2018)</span>
                            </div>
                          </div>

                          <div class="pretty p-icon p-round">
                            <input type="radio" name="icon" />
                            <div class="state p-success-o">
                              <i class="icon material-icons">done</i>
                              <label></label>
                              <span>1 week (October 8, 2018)</span>
                            </div>
                          </div>

                          <div class="pretty p-icon p-round">
                            <input type="radio" name="icon" />
                            <div class="state p-success-o">
                              <i class="icon material-icons">done</i>
                              <label></label>
                              <span>2 weeks (October 15, 2018)</span>
                            </div>
                          </div>

                        </div><!-- /.pretty-size -->



                      </div><!-- /.popover -->
                      <label for="form-comments">Comments</label>
                      <textarea class="form-control" id="form-comments"
                        rows="2"></textarea>
                      <div class="form-button-group">
                        <button type="submit" class="btn btn-muted rounded">Cancel</button>
                        <button type="submit" class="btn btn-primary rounded">Update</button>
                      </div><!-- /.form-button-group -->
                    </div><!-- /.form-body -->
                  </div><!-- /.form-group -->
                </form><!-- /.form -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.group-comments -->

        </div><!-- /.scroll-y -->

        <div class="group-controls">
          <div class="fixed-bottom">
            <include src="components/controls/controls.html"></include>
          </div>
        </div><!-- /.group-controls -->

        <div class="page-body__footer">
          <div class="row mx-auto">
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto u-sm-p-0">
              <include src="components/footer/footer.html"></include>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.page-body__footer -->
      </div><!-- /.page-body__content -->
    </div><!-- /.page-body -->

  </body>

</html>