<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Datis e3</title>
  </head>

  <body>

    <include src="components/header/header.html"></include>

    <include src="components/sidebar/sidebar.html"></include>

    <div class="page-body">
      <div class="page-body__header">
        <!--div class="page-body__header-mask"></div>-->
        <div class="container">
          <div class="row mx-auto">
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
              <include src="components/profile/profile.html"></include>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.page-body__header -->
      <div class="page-body__content">
        <div class="container u-sm-m-x u-sm-p-0">
          <div class="row mx-auto u-sm-m-x">
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto u-sm-p-0">
              <include src="components/accordion/accordion.html"></include>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="page-body__footer">
          <div class="row mx-auto">
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto u-sm-p-0">
              <include src="components/footer/footer.html"></include>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.page-body__footer -->
      </div><!-- /.page-body__content -->
    </div><!-- /.page-body -->

  </body>

</html>