.accordion {
  padding-bottom: rem(60);
}

.accordion .card {
  position: relative;
  padding-top: rem(15);
  background-color: $color__white;
  border-radius: 0;
}

.accordion .card:first-child {
  padding-top: 0;
}

.accordion .card + .card {
  border-top: 2px solid $color__border--light;
}

.accordion .card .card-header a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.accordion .card .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: rem(15);
  color: $color__text;
  font-weight: 300;
}

.accordion .card .collapsed .card-arrow {
  transform: rotate(0deg);
}

.accordion .card .card-badge {
  display: flex;
  flex: 1 0 auto;
  margin-left: rem(20);
}

.accordion .card .card-badge .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color__primary;
  color: $color__white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.accordion .card .card-arrow {
  margin-right: rem(-5);
  margin-top: rem(6);
  font-size: rem(40);
  color: $color__primary;
  transform: rotate(-180deg);
  transition: 0.15s transform ease-in-out;
}

.accordion .card .card-header,
.accordion .card .card-body {
  padding: 0 rem(30);
  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

.accordion .card .card-body {
  background-color: $color__border;
  padding: rem(30);
}

.accordion .card .card-body + .card-body {
  padding-top: rem(0);
}

.accordion .card .card-inner {
  background: $color__white;
  border-radius: $border-radius;
  @extend .shadow;
  &.card-inner-active {
    border-left: 8px solid $color__primary;
  }
}

.accordion .card .card-inner .card-inner-body {
  padding: rem(10);
}

.accordion .card .card-inner .card-inner-body .card-inner-title,
.accordion .card .card-inner .card-inner-body .card-inner-subtitle {
  font-weight: bold;
  color: $color__text;
}

.accordion .card .card-inner .card-inner-body .card-inner-title {
  margin-bottom: rem(15);
}

.accordion .card .card-inner .card-inner-body hr {
  max-width: rem(15);
  margin: 0;
  margin-bottom: rem(5);
  border-width: 2px;
  border-color: $color__muted;
}

.accordion .card .card-inner .card-inner-footer {
  display: flex;
  justify-content: space-between;
  padding-top: rem(30);
}

.accordion .card .card-inner-text {
  font-size: rem(13);
  @include media-breakpoint-up(sm) {
    font-size: rem(14);
  }
}

.accordion .card .card-inner-text-muted {
  color: $color__muted;
}

// Pagination dots
.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -10px;
}

.pagination-dot {
  display: inline-flex;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color__border--dark;
  &-active {
    background-color: $color__secondary;
  }
  + .pagination-dot {
    margin-left: rem(10);
  }
}