<div class="accordion" id="accordion">

  <div class="card">
    <div class="card-header" id="accordion-heading-1">
      <a class="collapsed" href="#accordion-1" data-toggle="collapse" data-target="#accordion-1" aria-expanded="false"
        aria-controls="accordion-1">
        <h5 class="card-title">Assignments
          <div class="card-badge">
            <span class="badge">9</span>
            <span class="sr-only">unread messages</span>
          </div><!-- /.card-badge -->
          <i class="card-arrow material-icons">keyboard_arrow_down</i>

        </h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-1" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="pagination-dots">
          <span class="pagination-dot pagination-dot-active"></span>
          <span class="pagination-dot"></span>
        </div><!-- /.pagination-dots -->
        <div class="card-inner card-inner-active">
          <div class="card-inner-body">
            <h4 class="card-inner-title">HR Manager</h4>
            <h5 class="card-inner-subtitle">Position 293</h5>
            <hr>
            <div class="card-inner-hours card-inner-text">40 weekly hours</div>
            <div class="card-inner-footer">
              <div class="card-inner-years card-inner-text">16 years, 6 months</div>
              <div class="card-inner-position card-inner-text card-inner-text-muted">Primary Position</div>
            </div><!-- /.card-inner-footer -->
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->


        <div class="card-body-details">
          <div class="card-body-details-data">
            <div class="card-body-details-key">From</div>
            <div class="card-body-details-value">Feb 18, 2002 - current</div>
          </div><!-- /.card-body-details-data -->
          <div class="card-body-details-data">
            <div class="card-body-details-key">Job</div>
            <div class="card-body-details-value">HR Manager</div>
          </div><!-- /.card-body-details-data -->
          <div class="card-body-details-data">
            <div class="card-body-details-key">FLSA</div>
            <div class="card-body-details-value">Hourly/Non-Exempt</div>
          </div><!-- /.card-body-details-data -->
          <div class="card-body-details-data">
            <div class="card-body-details-key">Emp Status</div>
            <div class="card-body-details-value">Regular Full Time</div>
          </div><!-- /.card-body-details-data -->
        </div><!-- /.card-body-details -->

      </div><!-- /.card-body -->
      <div class="card-body">
        <div class="card-inner">
          <div class="card-inner-body">
            <h4 class="card-inner-title">HR Manager</h4>
            <h5 class="card-inner-subtitle">Position 293</h5>
            <hr>
            <div class="card-inner-hours card-inner-text">40 weekly hours</div>
            <div class="card-inner-footer">
              <div class="card-inner-years card-inner-text">16 years, 6 months</div>
            </div><!-- /.card-inner-footer -->
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->
      </div><!-- /.card-body -->
      <div class="card-body">
        <div class="card-inner">
          <div class="card-inner-body">
            <h4 class="card-inner-title">HR Manager</h4>
            <h5 class="card-inner-subtitle">Position 293</h5>
            <hr>
            <div class="card-inner-hours card-inner-text">40 weekly hours</div>
            <div class="card-inner-footer">
              <div class="card-inner-years card-inner-text">16 years, 6 months</div>
            </div><!-- /.card-inner-footer -->
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->
      </div><!-- /.card-body -->
    </div><!-- /.collapse -->
  </div><!-- /.card -->


  <div class="card">
    <div class="card-header" id="accordion-heading-3">
      <a class="collapsed" href="#accordion2" data-toggle="collapse" data-target="#accordion-3" aria-expanded="false"
        aria-controls="accordion-3">
        <h5 class="card-title">Assignments<i class="card-arrow material-icons">keyboard_arrow_down</i></h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-3" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="card-inner card-inner-active">
          <div class="card-inner-body">
            <h4 class="card-inner-title">HR Manager</h4>
            <h5 class="card-inner-subtitle">Position 293</h5>
            <hr>
            <div class="card-inner-hours card-inner-text">40 weekly hours</div>
            <div class="card-inner-footer">
              <div class="card-inner-years card-inner-text">16 years, 6 months</div>
              <div class="card-inner-position card-inner-text card-inner-text-muted">Primary Position</div>
            </div><!-- /.card-inner-footer -->
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->
      </div><!-- /.card-body -->
      <div class="card-body">
        <div class="card-inner">
          <div class="card-inner-body">
            <h4 class="card-inner-title">HR Manager</h4>
            <h5 class="card-inner-subtitle">Position 293</h5>
            <hr>
            <div class="card-inner-hours card-inner-text">40 weekly hours</div>
            <div class="card-inner-footer">
              <div class="card-inner-years card-inner-text">16 years, 6 months</div>
            </div><!-- /.card-inner-footer -->
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->
      </div><!-- /.card-body -->
    </div><!-- /.collapse -->
  </div><!-- /.card -->

  <div class="card">
    <div class="card-header" id="accordion-heading-2">
      <a class="collapsed" href="#accordion2" data-toggle="collapse" data-target="#accordion-2" aria-expanded="false"
        aria-controls="accordion-2">
        <h5 class="card-title">Assignments<i class="card-arrow material-icons">keyboard_arrow_down</i></h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-2" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="card-inner card-inner-active">
          <div class="card-inner-body">
            <h4 class="card-inner-title">HR Manager</h4>
            <h5 class="card-inner-subtitle">Position 293</h5>
            <hr>
            <div class="card-inner-hours card-inner-text">40 weekly hours</div>
            <div class="card-inner-footer">
              <div class="card-inner-years card-inner-text">16 years, 6 months</div>
              <div class="card-inner-position card-inner-text card-inner-text-muted">Primary Position</div>
            </div><!-- /.card-inner-footer -->
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->
      </div><!-- /.card-body -->
      <div class="card-body">
        <div class="card-inner">
          <div class="card-inner-body">
            <h4 class="card-inner-title">HR Manager</h4>
            <h5 class="card-inner-subtitle">Position 293</h5>
            <hr>
            <div class="card-inner-hours card-inner-text">40 weekly hours</div>
            <div class="card-inner-footer">
              <div class="card-inner-years card-inner-text">16 years, 6 months</div>
            </div><!-- /.card-inner-footer -->
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->
      </div><!-- /.card-body -->
    </div><!-- /.collapse -->
  </div><!-- /.card -->


  <div class="card">
      <div class="card-header" id="accordion-heading-4">
        <a class="collapsed" href="#accordion4" data-toggle="collapse" data-target="#accordion-4" aria-expanded="false"
          aria-controls="accordion-4">
          <h5 class="card-title">Assignments<i class="card-arrow material-icons">keyboard_arrow_down</i></h5>
        </a>
      </div><!-- /.card-header -->
      <div id="accordion-4" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="card-inner card-inner-active">
            <div class="card-inner-body">
              <h4 class="card-inner-title">HR Manager</h4>
              <h5 class="card-inner-subtitle">Position 293</h5>
              <hr>
              <div class="card-inner-hours card-inner-text">40 weekly hours</div>
              <div class="card-inner-footer">
                <div class="card-inner-years card-inner-text">16 years, 6 months</div>
                <div class="card-inner-position card-inner-text card-inner-text-muted">Primary Position</div>
              </div><!-- /.card-inner-footer -->
            </div><!-- /.card-inner-body -->
          </div><!-- /.card-inner -->
        </div><!-- /.card-body -->
        <div class="card-body">
          <div class="card-inner">
            <div class="card-inner-body">
              <h4 class="card-inner-title">HR Manager</h4>
              <h5 class="card-inner-subtitle">Position 293</h5>
              <hr>
              <div class="card-inner-hours card-inner-text">40 weekly hours</div>
              <div class="card-inner-footer">
                <div class="card-inner-years card-inner-text">16 years, 6 months</div>
              </div><!-- /.card-inner-footer -->
            </div><!-- /.card-inner-body -->
          </div><!-- /.card-inner -->
        </div><!-- /.card-body -->
      </div><!-- /.collapse -->
    </div><!-- /.card -->

</div><!-- /.accordion -->