<div class="accordion" id="accordion">

  <!-- DATES -->
  <div class="card card-dates">
    <div class="card-header" id="accordion-heading-3">
      <a class="collapsed" href="#accordion2" data-toggle="collapse" data-target="#accordion-3" aria-expanded="false"
        aria-controls="accordion-3">
        <h5 class="card-title">Dates<i class="card-arrow material-icons">keyboard_arrow_down</i></h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-3" class="collapse" data-parent="#accordion">

      <!-- Card Body Details (Expanded)-->
      <div class="card-body-details card-body-details-dates">
          <div class="card-body-details-data">
            <div class="card-body-details-key">Original Hire Date</div>
            <div class="card-body-details-value">Feb 1, 2005</div>
          </div><!-- /.card-body-details-data -->
          <div class="card-body-details-data">
            <div class="card-body-details-key">Last Hire Date</div>
            <div class="card-body-details-value">Oct 8, 2006</div>
          </div><!-- /.card-body-details-data -->
          <div class="card-body-details-data">
            <div class="card-body-details-key">Seniority Date</div>
            <div class="card-body-details-value">Feb 4, 2005</div>
          </div><!-- /.card-body-details-data -->
          <div class="card-body-details-data">
            <div class="card-body-details-key">Last Review Date</div>
            <div class="card-body-details-value">Nov 8, 2013</div>
          </div><!-- /.card-body-details-data -->
        </div><!-- /.card-body-details -->
        <!-- /Card Body Details (Expanded) -->

    </div><!-- /.collapse -->
  </div><!-- /.card.card-dates -->
  <!-- /DATES -->



  <!-- CONTACTS -->
  <div class="card card-contacts">
    <div class="card-header" id="accordion-heading-2">
      <a class="collapsed" href="#accordion2" data-toggle="collapse" data-target="#accordion-2" aria-expanded="false"
          aria-controls="accordion-2">
        <h5 class="card-title">Contacts<i class="card-arrow material-icons">keyboard_arrow_down</i></h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-2" class="collapse" data-parent="#accordion">

      <div class="card-body card-body-contacts">
        <div class="btn btn-white align-middle">Add Contact</div>
      </div><!-- /.card-body -->
      <div class="card-body-details">
        <div class="card-body-details-data" id="contact-accordion" data-toggle="collapse" data-target="#contact-details">
          <div class="card-body-details-key">Children's School</div>
          <div class="card-body-details-value">
            <a class="card-body-details-icon card-body-details-icon-edit"><i class="material-icons">edit</i></a>
            <a class="card-body-details-icon card-body-details-delete" data-toggle="modal" data-target="#modal-delete"><i class="material-icons">delete</i></a>
          </div><!-- /card-body-details-value -->
        </div><!-- /.card-body-details-data -->
        <div class="card-body-inner collapse" id="contact-details" data-parrent="#contact-accordion">
          <div class="card-body-inner-item">
            <div class="card-body-inner-icon"><i class="material-icons">person</i></div>
            <div class="card-body-inner-text">Jane Smith, Friend</div>
          </div><!-- /.card-body-inner-item -->
          <div class="card-body-inner-item">
            <div class="card-body-inner-icon"><i class="material-icons">phone</i></div>
            <div class="card-body-inner-text">813-555-5555</div>
          </div><!-- /.card-body-inner-item -->
          <div class="card-body-inner-item">
            <div class="card-body-inner-icon"><i class="material-icons">phone</i></div>
            <div class="card-body-inner-text">813-555-5555</div>
          </div><!-- /.card-body-inner-item -->
          <div class="card-body-inner-item">
            <div class="card-body-inner-icon"><i class="material-icons">phone_iphone</i></div>
            <div class="card-body-inner-text">813-555-5555</div>
          </div><!-- /.card-body-inner-item -->
          <div class="card-body-inner-item">
             <div class="card-body-inner-icon"><i class="material-icons">location_on</i></div>
            <div class="card-body-inner-text">Tampa, 33602</div>
          </div><!-- /.card-body-inner-item -->
        </div><!-- /.card-body-inner -->
        <div class="card-body-details-data">
        <div class="card-body-details-key">Emergency Contact</div>
          <div class="card-body-details-value">
            <div class="card-body-details-icon card-body-details-icon-edit"><i class="material-icons">edit</i></div>
            <div class="card-body-details-icon card-body-details-delete" data-toggle="modal" data-target="#modal-delete"><i class="material-icons">delete</i></div>
          </div><!-- /card-body-details-value -->
        </div><!-- /.card-body-details-data -->
      </div><!-- /.card-body-details -->
    </div><!-- /.collapse -->
  </div><!-- /.card.card-contacts -->
  <!-- /CONTACTS -->



  <!-- CONTACTS-EDIT -->
  <div class="card card-contacts">
      <div class="card-header" id="accordion-heading-contacts">
        <a class="collapsed" href="#accordion-contacts" data-toggle="collapse" data-target="#accordion-contacts" aria-expanded="false"
            aria-controls="accordion-contacts">
          <h5 class="card-title">Contacts (Edit)<i class="card-arrow material-icons">keyboard_arrow_down</i></h5>
        </a>
      </div><!-- /.card-header -->
      <div id="accordion-contacts" class="collapse" data-parent="#accordion">
        <div class="card-body card-body-contacts-edit">
          <include src="components/form/form.html"></include>
        </div><!-- /.card-body.card-body-contacts-edit -->
      </div><!-- /.collapse -->
    </div><!-- /.card.card-contacts -->
    <!-- /CONTACTS-EDIT -->



  <!-- ASSIGNMENTS -->
  <div class="card card-assignments">
      <div class="card-header" id="accordion-heading-1">
        <a class="collapsed" href="#accordion-1" data-toggle="collapse" data-target="#accordion-1" aria-expanded="false"
          aria-controls="accordion-1">
          <h5 class="card-title">Assignments
            <div class="card-badge">
              <span class="badge">9</span>
              <span class="sr-only">unread messages</span>
            </div><!-- /.card-badge -->
            <i class="card-arrow material-icons">keyboard_arrow_down</i>
          </h5>
        </a>
      </div><!-- /.card-header -->
      <div id="accordion-1" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="pagination-dots">
            <span class="pagination-dot pagination-dot-active"></span>
            <span class="pagination-dot"></span>
          </div><!-- /.pagination-dots -->
          <div class="card-inner card-inner-active">
            <div class="card-inner-body">
              <h4 class="card-inner-title">HR Manager</h4>
              <h5 class="card-inner-subtitle">Position 293</h5>
              <hr>
              <div class="card-inner-hours card-inner-text">40 weekly hours</div>
              <div class="card-inner-footer">
                <div class="card-inner-years card-inner-text">16 years, 6 months</div>
                <div class="card-inner-position card-inner-text card-inner-text-muted">Primary Position</div>
              </div><!-- /.card-inner-footer -->
            </div><!-- /.card-inner-body -->
          </div><!-- /.card-inner -->

          <!-- Card Body Details (Expanded)-->
          <div class="card-body-details card-body-details-assignments">
            <div class="card-body-details-data">
              <div class="card-body-details-key">From</div>
              <div class="card-body-details-value">Feb 18, 2002 - current</div>
            </div><!-- /.card-body-details-data -->
            <div class="card-body-details-data">
              <div class="card-body-details-key">Job</div>
              <div class="card-body-details-value">HR Manager</div>
            </div><!-- /.card-body-details-data -->
            <div class="card-body-details-data">
              <div class="card-body-details-key">FLSA</div>
              <div class="card-body-details-value">Hourly/Non-Exempt</div>
            </div><!-- /.card-body-details-data -->
            <div class="card-body-details-data">
              <div class="card-body-details-key">Emp Status</div>
              <div class="card-body-details-value">Regular Full Time</div>
            </div><!-- /.card-body-details-data -->
          </div><!-- /.card-body-details -->
          <!-- /Card Body Details (Expanded) -->

        </div><!-- /.card-body -->
        <div class="card-body">
          <div class="card-inner">
            <div class="card-inner-body">
              <h4 class="card-inner-title">HR Manager</h4>
              <h5 class="card-inner-subtitle">Position 293</h5>
              <hr>
              <div class="card-inner-hours card-inner-text">40 weekly hours</div>
              <div class="card-inner-footer">
                <div class="card-inner-years card-inner-text">16 years, 6 months</div>
              </div><!-- /.card-inner-footer -->
            </div><!-- /.card-inner-body -->
          </div><!-- /.card-inner -->
        </div><!-- /.card-body -->
        <div class="card-body">
          <div class="card-inner">
            <div class="card-inner-body">
              <h4 class="card-inner-title">HR Manager</h4>
              <h5 class="card-inner-subtitle">Position 293</h5>
              <hr>
              <div class="card-inner-hours card-inner-text">40 weekly hours</div>
              <div class="card-inner-footer">
                <div class="card-inner-years card-inner-text">16 years, 6 months</div>
              </div><!-- /.card-inner-footer -->
            </div><!-- /.card-inner-body -->
          </div><!-- /.card-inner -->
        </div><!-- /.card-body -->
      </div><!-- /.collapse -->
    </div><!-- /.card.card-assignments -->
    <!-- /ASSIGNMENTS -->


  <div class="card">
      <div class="card-header" id="accordion-heading-4">
        <a class="collapsed" href="#accordion4" data-toggle="collapse" data-target="#accordion-4" aria-expanded="false"
          aria-controls="accordion-4">
          <h5 class="card-title">Assignments<i class="card-arrow material-icons">keyboard_arrow_down</i></h5>
        </a>
      </div><!-- /.card-header -->
      <div id="accordion-4" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="card-inner card-inner-active">
            <div class="card-inner-body">
              <h4 class="card-inner-title">HR Manager</h4>
              <h5 class="card-inner-subtitle">Position 293</h5>
              <hr>
              <div class="card-inner-hours card-inner-text">40 weekly hours</div>
              <div class="card-inner-footer">
                <div class="card-inner-years card-inner-text">16 years, 6 months</div>
                <div class="card-inner-position card-inner-text card-inner-text-muted">Primary Position</div>
              </div><!-- /.card-inner-footer -->
            </div><!-- /.card-inner-body -->
          </div><!-- /.card-inner -->
        </div><!-- /.card-body -->
        <div class="card-body">
          <div class="card-inner">
            <div class="card-inner-body">
              <h4 class="card-inner-title">HR Manager</h4>
              <h5 class="card-inner-subtitle">Position 293</h5>
              <hr>
              <div class="card-inner-hours card-inner-text">40 weekly hours</div>
              <div class="card-inner-footer">
                <div class="card-inner-years card-inner-text">16 years, 6 months</div>
              </div><!-- /.card-inner-footer -->
            </div><!-- /.card-inner-body -->
          </div><!-- /.card-inner -->
        </div><!-- /.card-body -->
      </div><!-- /.collapse -->
    </div><!-- /.card -->

</div><!-- /.accordion -->