<div class="accordion accordion-group-details" id="accordion">
<div class="card group-details-card">
    <div class="card-header" id="accordion-heading-4">
      <a class="collapsed" href="#accordion4" data-toggle="collapse"
        data-target="#accordion-4" aria-expanded="false"
        aria-controls="accordion-4">
        <h5 class="card-title">Group Details<i class="card-arrow material-icons">keyboard_arrow_down</i></h5>
      </a>
    </div><!-- /.card-header -->
    <div id="accordion-4" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="card-status">
          <span class="active"></span>
        </div><!-- /.card-status -->
        <div class="card-inner">
          <div class="card-inner-body">
            <h6 class="card-inner-title">Status: <span>Approved on 12:00pm, Tuesday, March 28, 2018</span></h6>
            <h6 class="card-inner-subtitle">Assigned to: <span>Lucas Gains</span></h6>
            <div class="card-inner-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt fuga temporibus esse quidem perferendis amet nihil, assumenda vel eligendi tempora dolores consequuntur velit, aliquid, neque culpa asperiores ad odit.</div>
            <div class="card-inner-text">fdsf</div>
          </div><!-- /.card-inner-body -->
        </div><!-- /.card-inner -->
      </div><!-- /.card-body -->
    </div><!-- /.collapse -->
  </div><!-- /.card -->
  </div>